.AdBlock {
  .chat-top-ad, .room-ad-top, .room-ad-video-down, .room-ad-bottom, #js-chat-right-ad, .tab-content.promote, .f-sign-cont,
  .his-sign-cont, div[data-module=left-cont], .chat-ad, .sq-ad, .assort-ad, #js-guess-start, .chat-sysbroadcast-ad, .chat-sysbroadcast-imgad,
  .task-recommendTip, .pay-give-wrap, .task-newTip, .video-entry-guide, .search-suggest-ad {
    display: none !important;
  }
}

.ForbidAutoJump {
  #dialog-more-video {
    display: none !important;
  }
}

.HideChat, .PreventLag {
  #ShowChatTip, #ShowChatTip2 {
    position: absolute;
    top: 50%;
    left: 37%;
    width: 26%;
    border: 1px solid #ea6e02;
    background: #ff7700;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    &:hover {
      background: #ff9900;
    }
  }
  #js-chat-cont *:not(#ShowChatTip):not(#ShowChatTip2):not(.peck-back-tip) {
    display: none !important;
  }
}

.HideChat:not(.PreventLag) #ShowChatTip2{
  display: none;
}

.ChatMode {
  .chat-icon-pad {
    &.user-level, &.user-noble, &[data-msg=fans] {
      display: none !important;
    }
  }
  .jschartli.sys-msg {
    display: none !important;
  }
  #js-fans-rank {
    display: none !important;
  }
  #js-chat-cont {
    top: 0;
    border-radius: 4px 4px 0 0;
  }
}

.ChatMode, .ChatMode2 {
  .my-cont>*:not(.name):not(.m),
  p.text-cont:not(.task-wel)>*:not(.name):not(.text-cont):not(.chat-icon-pad),
  p.text-cont.task-wel, .giftbatter-noble-enter, .pc-client-icon {
    display: none !important;
  }

  .jschartli:not(.hy-chat):not(.sys-msg) {
    display: none !important;
  }

  .chat-icon-pad {
    &.cq-level, &.madel-list, &.cq-other {
      display: none !important;
    }
  }
}

.body-flash-fullpage {
  .filter-keywords-btn {
    margin-top: 8px;
  }
  .chatControlBtn {
    margin-top: 3px;
  }
  .chatControl {
    bottom: 35px !important;
  }
}

.chatControlBtn {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px !important;
  background: no-repeat 100%/100%;
  margin: 0;
  padding: 6px 7px;
  img {
    border-radius: 4px;
  }
  &:hover .chatControl {
    display: block;
  }
}

.chatControl {
  position: absolute;
  width: max-content;
  cursor: default;
  padding: 6px 12px !important;
  background: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  right: -58px !important;
  .shie-site-list-arrow {
    left: unset !important;
    right: 69px;
  }
  .shie-input a {
    position: relative;
    top: -1px;
  }
}

#js-filter-keywords {
  margin-left: 8px;
}

.btnConcise {
  margin: 0;
  line-height: 24px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  color: #666;
  &:hover {
    background: #f5f5f5;
  }
}

.fans-barrage-box.configAutoMuteDiv {
  bottom: 150px;
  left: 0;
  padding-bottom: 12px;
  z-index: 330;
  border: 0;
  textarea {
    margin-top: 8px;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    line-height: 16px;
  }
  .fans-barrage-colordes {
    margin-top: 10px;
    text-align: right;
  }
  .btnConcise {
    margin-top: 10px;
    display: inline-block;
    width: 60px;
  }
  .fans-barrage-right {
    cursor: pointer;
  }
}

.prop-info-panel {
  max-width: 400px;
}

.gift-info-panel-form {
  padding-right: 130px;
}
