<div class="TreasureWrap">
    <div class="TreasureGee ">
        <span class="TreasureGee-switch">×</span><span class="TreasureGee-icon"></span>
        <p class="TreasureGeeTitle">
            <span class="TreasureGeeTitle-cff6700">验证通过</span>后可以获得宝箱礼物
        </p>
        <div class="TreasureGee-area" id="TreasureGee-captcha">
            <div class="treasure-captcha-gt"></div>
            <div class="geetest_holder geetest_wind geetest_radar_click_ready" style="width: 100%;">
                <div class="geetest_form">
                    <input type="hidden" name="geetest_challenge">
                    <input type="hidden" name="geetest_validate">
                    <input type="hidden" name="geetest_seccode"></div>
                <div class="geetest_btn">
                    <div class="geetest_radar_btn">
                        <div class="geetest_radar">
                            <div class="geetest_ring">
                                <div class="geetest_small"></div>
                            </div>
                            <div class="geetest_sector" style="transform: rotate(51.0894deg);">
                                <div class="geetest_small"></div>
                            </div>
                            <div class="geetest_cross">
                                <div class="geetest_h"></div>
                                <div class="geetest_v"></div>
                            </div>
                            <div class="geetest_dot"></div>
                            <div class="geetest_scan">
                                <div class="geetest_h"></div>
                            </div>
                            <div class="geetest_status">
                                <div class="geetest_bg"></div>
                                <div class="geetest_hook"></div>
                            </div>
                        </div>
                        <div class="geetest_ie_radar"></div>
                        <div class="geetest_radar_tip" tabindex="0" aria-label="请完成验证" style="outline-width: 0px;">
                            <span class="geetest_radar_tip_content">请完成验证</span>
                            <span class="geetest_reset_tip_content">请点击重试</span>
                            <span class="geetest_radar_error_code"></span>
                        </div>
                        <a class="geetest_logo" style="display: none;"></a>
                        <div class="geetest_other_offline geetest_offline"></div>
                    </div>
                    <div class="geetest_ghost_success">
                        <div class="geetest_success_btn">
                            <div class="geetest_success_box">
                                <div class="geetest_success_show">
                                    <div class="geetest_success_pie"></div>
                                    <div class="geetest_success_filter"></div>
                                    <div class="geetest_success_mask"></div>
                                </div>
                                <div class="geetest_success_correct">
                                    <div class="geetest_success_icon"></div>
                                </div>
                            </div>
                            <div class="geetest_success_radar_tip">
                                <span class="geetest_success_radar_tip_content"></span>
                                <span class="geetest_success_radar_tip_timeinfo"></span>
                            </div>
                            <a class="geetest_success_logo" style="display: none;"></a>
                            <div class="geetest_success_offline geetest_offline"></div>
                        </div>
                    </div>
                    <div class="geetest_slide_icon"></div>
                </div>
                <div class="geetest_wait">
                    <span class="geetest_wait_dot geetest_dot_1"></span>
                    <span class="geetest_wait_dot geetest_dot_2"></span>
                    <span class="geetest_wait_dot geetest_dot_3"></span>
                </div>
                <div class="geetest_fullpage_click geetest_click">
                    <div class="geetest_fullpage_ghost"></div>
                    <div class="geetest_fullpage_click_wrap">
                        <div class="geetest_fullpage_click_box"></div>
                        <div class="geetest_fullpage_pointer">
                            <div class="geetest_fullpage_pointer_out"></div>
                            <div class="geetest_fullpage_pointer_in"></div>
                        </div>
                    </div>
                </div>
                <div class="geetest_goto" style="display: none;">
                    <div class="geetest_goto_ghost"></div>
                    <div class="geetest_goto_wrap">
                        <div class="geetest_goto_content">
                            <div class="geetest_goto_content_tip"></div>
                        </div>
                        <div class="geetest_goto_cancel"></div>
                        <a class="geetest_goto_confirm"></a>
                    </div>
                </div>
                <div class="geetest_panel">
                    <div class="geetest_panel_ghost"></div>
                    <div class="geetest_panel_box">
                        <div class="geetest_other_offline geetest_panel_offline"></div>
                        <div class="geetest_panel_loading">
                            <div class="geetest_panel_loading_icon"></div>
                            <div class="geetest_panel_loading_content"></div>
                        </div>
                        <div class="geetest_panel_success">
                            <div class="geetest_panel_success_box">
                                <div class="geetest_panel_success_show">
                                    <div class="geetest_panel_success_pie"></div>
                                    <div class="geetest_panel_success_filter"></div>
                                    <div class="geetest_panel_success_mask"></div>
                                </div>
                                <div class="geetest_panel_success_correct">
                                    <div class="geetest_panel_success_icon"></div>
                                </div>
                            </div>
                            <div class="geetest_panel_success_title"></div>
                        </div>
                        <div class="geetest_panel_error">
                            <div class="geetest_panel_error_icon"></div>
                            <div class="geetest_panel_error_title"></div>
                            <div class="geetest_panel_error_content"></div>
                            <div class="geetest_panel_error_code"></div>
                        </div>
                        <div class="geetest_panel_footer">
                            <div class="geetest_panel_footer_logo"></div>
                            <div class="geetest_panel_footer_copyright"></div>
                        </div>
                        <div class="geetest_panel_next"></div>
                    </div>
                </div>
            </div>
        </div>
        <span class="TreasureGee-arrow1"></span>
        <span class="TreasureGee-arrow2"></span>
    </div>
    <div class="TreasureDetail" style="top: 484px;">
        <div class="TreasureTips "><img class="TreasureTips-avatar" src="//apic.douyucdn.cn/upload/avatar_v3/201809/47796b5b4ba4562e8b4a6e9fb1d3c7e2_small.jpg">
            <div class="TreasureInfo">
                <p class="TreasureInfo-name">倾音Phoebe</p>
                <p class="TreasureInfo-desc">神秘宝箱已开启，手慢无！~</p>
            </div><i class="TreasureTips-arrow"></i></div>
        <div class="BindPanels ">
            <span class="BindPanels-close BindPanels-colf76300"></span>
            <div class="BindPanels-desc">
                绑定<span class="BindPanels-colf76300">手机</span>后，才可以领取宝箱里的鱼丸哦！
            </div>
            <div class="BindPanels-link"><a href="/member/cp/cpBindPhone" class="BindPanels-colf76300">立即绑定</a></div>
        </div>
        <div class="Treasure is-finish " style="background-image: url(&quot;https://sta-op.douyucdn.cn/front-publish/live-master/assets/images/treasure_open_e00138d.png&quot;);">
            <div class="TreasureNum">
                <i class="TreasureNum-rate">x</i><span class="TreasureNum-val">5</span><i class="TreasureNum-arrow"></i>
            </div>
            <div class="TreasureStatus is-open  ">
                <div class="TreasureStatus-bg is-open" style="width: 100%;"></div>
                <div class="TreasureStatus-text ">领取</div>
            </div>
        </div>
    </div>
</div>